* {
	font-family: 微軟正黑體;
}
/********* nav ************/

/* banner */
.banner{
	padding-top: 180px;
	padding-bottom: 180px;
	background-image: url(https://images.unsplash.com/photo-1551024601-bec78aea704b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.banner h1{
	font-size: 70px;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
	font-weight: 700;
}
/* main */
.main{
	padding-top: 90px;
	padding-bottom: 180px;
	background-image: url(../images/Recommended-products-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.title-bg {
	background: #2b2323;
	padding: 15px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	text-align: center;
}
.title-item {
	border: 1px solid #fff;
	padding: 10px;
}
.main h3 {
	color: #fff;
	font-size: 2.3rem;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	margin-top: 20px;
}
.main .subtitle {
	color: #fff;
	font-size: 20px;
	margin-top: 20px;
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
	margin-bottom: 20px;
}
.main .col-sm-6 {
    margin-top: 50px;
}
.main .col-sm-6 .image img{
	width: 100%;
	height: 100%;
	max-width: auto;
	max-height: auto;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
}
.main .col-sm-6 p{
	color: #2b2b2b;
	font-size: 18px;
	/* text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3); */
}
.main-item{
	margin-top: 60px;
}
.main-item .image{
	width: 100%;
	height: 200px;
	max-width: auto;
	max-height: auto;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	overflow: hidden;
}
.main-item img{
	transition: 1s all;
}
.main-item img:hover{
	transform: scale(1.3);
}
@media(max-width : 992px){
	.main-item .col-sm-3{
		width: 50%;
		max-width: 50%;
		flex: 0 0 50%;
		margin-bottom: 20px;
	}
	.main .col-sm-6{
		width: 100%;
		max-width: 100%;
		flex: 0 0 100%;
	}
}
/************* footer ***************/
.footer {
	background-image: url(../images/footer-bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
/* map */
.map-box {
	position: relative;
	bottom: -200px;
	padding: 15px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}
@media(max-width : 1024px){
    .map-box{
        bottom: -92px;
    }
}
@media(max-width : 768px){
    .map-box{
        bottom: -90px;
    }
}
@media(max-width : 414px){
    .map-box{
        bottom: -418px;
    }
}
.footer-logo img {
	display: block;
	margin: 0 auto;
	width: 300px;
	height: auto;
}
.footer-navbar {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
.footer-meau {
	display: flex;
	flex-direction: row;
}
@media(max-width:414px){
	.footer-meau{
		flex-direction: column;
		text-align: center;
	}
}
.footer-link {
	padding-left: 50px;
	padding-right: 50px;
}
@media(max-width:414px){
	.footer-link  {
		margin-top: 30px;
	}
}
.footer-link a {
	color: #fff;
	font-size: 18px;
}
@media(max-width:414px){
	.footer-link a  {
		font-size: 21px;
	}
}
.footer-link a:hover{
	color: orange;
}
/* copyright */
.copyright {
	text-align: center;
	color: #fff;
	padding: 10px 30px;
	background: #000;
	margin-top: 70px;
}
