* {
	font-family: 微軟正黑體;
}
/********* nav ************/

.meau {
	margin: auto;
}
.nav-item {
	width: 128px;
}
.nav-item .logo {
	width: 85px;
	height: auto;
	transition: 1s all;
}
.nav-item img {
	width: 20px;
	height: auto;
}
input{
	border: 1px solid #aaa;
}
nav {
	padding: 0px !important;
	position: fixed!important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1200;
}
img {
	width: 100%;
	height: 100%;
	max-width: auto;
	max-height: auto;
}

@media (max-width: 980px) {
	.nav-item {
		width: 86px;
	}
}
@media (max-width: 767px) {
	.nav-item {
		width: 128px;
	}
}
@media (max-width: 767px) {
	.aa {
		padding-right: 60vw;
	}
}
@media (max-width: 414px) {
	.aa {
		padding-right: 76vw;
	}
}
@media (max-width: 375px) {
	.aa {
		padding-right: 74vw;
	}
}
@media (max-width: 360px) {
	.aa {
		padding-right: 73vw;
	}
}
@media (max-width: 320px) {
	.aa {
		padding-right: 70vw;
	}
}
.nav-link {
	text-align: center;
	position: relative;
	font-size: 19px;
}
@media (max-width: 972px) {
	.nav-link {
		font-size: 16px;
	}
}
@media (max-width: 767px) {
	.nav-link {
		text-align: left;
	}
}
.n-1:after {
	content: "";
	position: absolute;
	bottom: -7px;
	left: 0;
	width: 0%;
	border-bottom: 4px solid orange;
	transition: 0.4s;
}

.n-1:hover:after {
	width: 100%;
}
.s-1 {
	padding: 5px 7px;
	border-radius: 10px;
	color: #fff !important;
}
.s-1 img{
    width: 33px;
    height: auto;
    opacity: .5;
}
.s-1 img:hover{
    opacity: 1;
}
.btn-2 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
@media (max-width: 1024px) {
	.btn-2 {
		margin-left: 0px;
	}
}
@media (max-width: 414px) {
	.btn-2 {
		margin-bottom: 20px;

	}
}
.btn-2 a{
    width: 60px;
}
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: orange !important;
}
@media(max-width: 768px){
    .order-md-3{
    top: 5px;
    position: relative;
    }
}
@media(max-width: 414px){
    .order-md-3{
    left: 0px;

    }
}
/*  */
.btn-primary{
  border-radius:2px;
}
.loginContainer{
    width: 100%;
    background-color: white;
    margin: auto;
    position: relative;
  margin-top: 100px;
}
label.control-label {
    margin-bottom: 5px;
    padding-left: 0;
  color:#4D535F;
  font-weight:bold;
}
.loginImg {
    height: 100%;
    width: 100%;
    background-image: url('https://placeimg.com/233/425/tech');
    background-repeat: no-repeat;
  transition: all 0.3s ease;
}.titleDiv {
    padding: 10px;
    padding-left: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}.pagetitle {
    transition: all 0.3s ease;
    font-size: 28px;
    font-weight: bold;
    color: #b87532;
    display: inline-block;
    margin-bottom: 0px !important;
    padding-left: 6px;
}.form-horizontal {
    margin: auto;
    padding: 10px;
    padding-top: 21px;
    background-color: white;
}
.form-control {
    background-color: #EDF2F6;
    border-radius: 2px;
    border: 1px solid #E0DFDF;
}

@media (max-width: 768px){
  .loginContainer {
    margin-top: 0% !important;
    position: relative;
    width: 90%;
    transform: inherit;
    padding: 0px;
    left: auto;
}
.loginImg {
    width: 100%;
  height:70px;
  background-position:center -60px;
  background-size:cover;
  display: none;
}
  .loginContainer a{
    display:block;
  }
  
}

/* main */
.main{
	padding-top: 240px;
	padding-bottom: 200px;
	background-image: url(../images/Recommended-products-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
/*  */
/* Global settings */
/* Global "table" column settings */
.shopping-cart{
	background-color: #fff;
	box-shadow: 1px 1px 10px rgba(0,0,0,.5);
	padding: 20px;
}
.product-image {
  float: left;
  width: 20%;
}

.product-details {
  float: left;
  width: 37%;
}

.product-price {
  float: left;
  width: 12%;
}

.product-quantity {
  float: left;
  width: 10%;
}

.product-removal {
  float: left;
  width: 9%;
}

.product-line-price {
  float:right;
  width: 12%;
  text-align: right;
}

/* This is used as the traditional .clearfix class */
.group:before, .shopping-cart:before, .column-labels:before, .product:before, .totals-item:before,
.group:after,
.shopping-cart:after,
.column-labels:after,
.product:after,
.totals-item:after {
  content: '';
  display: table;
}

.group:after, .shopping-cart:after, .column-labels:after, .product:after, .totals-item:after {
  clear: both;
}

.group, .shopping-cart, .column-labels, .product, .totals-item {
  zoom: 1;
}

/* Apply clearfix in a few places */
/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}

/* Body/Header stuff */


h1 {
  font-weight: 100;
}

label {
  color: #aaa;
}

.shopping-cart {
  margin-top: -45px;
}

/* Column headers */
.column-labels label {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee;
}
.column-labels .product-image, .column-labels .product-details, .column-labels .product-removal {
  text-indent: -9999px;
}

/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.product .product-image {
  text-align: center;
}
.product .product-image img {
  width: 100px;
}
.product .product-details .product-title {
  margin-right: 20px;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}
.product .product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
}
.product .product-quantity input {
  width: 40px;
}
.product .remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
  font-size: 12px;
  border-radius: 3px;
}
.product .remove-product:hover {
  background-color: #a44;
}

/* Totals section */
.totals .box{
	border: 1px solid #aaa;
	padding: 10px;
	padding: 10px;
	background-color: #fff;
	width: 150px;
	float: left;
	text-align: center;
	color: #aaa;
	cursor: pointer;
}
@media(max-width:376px){
  .totals .box{
    width: 120px;
  }
}
@media(max-width:320px){
  .totals .box{
    width: 110px;
  }
}
.btn-3{
	padding: 10px;
	border: 1px solid orange;
	width: 150px;
	text-align: center;
	color: orange;
	cursor: pointer;
	font-size: 14px;
}
#box-2{
	display: none;
}
.btn-4 img{
	width: 150px;
	height: auto;
	max-width: auto;
	max-height: auto;
	box-shadow: 1px 1px 10px rgba(0,0,0,.3);
	border-radius: 10px;
	padding: 10px;
	border: 2px solid #fafafa;
	margin-top: 20px;
	cursor: pointer;
}
.btn-4 img:hover{
	border: 2px solid orange;
}
.btn-4 img:active{
	border: 2px solid orange;
}
.totals-item-2{
	display: inline-block;
}
.box-content{
	margin-left: 30px;
	margin-top: 30px;
}
@media(max-width:414px){
  .box-content{
    margin-left: 0px;
  }
}
.totals .box:hover{
	border: 1px solid orange;
	color: orange;
}
.totals .totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-top: 90px;
}
.totals .totals-item label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}
.totals .totals-item .totals-value {
  float: right;
  width: 21%;
  text-align: right;
}
.totals .totals-item-total {
  font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium";
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #f27611;
  color: #fff;
  font-size: 20px;
  border-radius: 3px;
}



/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid #eee;
  }

  .column-labels {
    display: none;
  }

  .product-image {
    float: right;
    width: auto;
  }
  .product-image img {
    margin: 0 0 10px 10px;
  }

  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }

  .product-price {
    clear: both;
    width: 70px;
  }

  .product-quantity {
    width: 100px;
  }
  .product-quantity input {
    margin-left: 20px;
  }

  .product-quantity:before {
    content: 'x';
  }

  .product-removal {
    width: auto;
  }

  .product-line-price {
    float: right;
    width: 70px;
  }
}
/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  .product-removal {
    float: right;
  }

  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }

  .product .product-line-price:before {
    content: 'Item Total: $';
  }

  .totals .totals-item label {
    width: 60%;
  }
  .totals .totals-item .totals-value {
    width: 40%;
  }
}
/*  */


/* copyright */
.copyright {
	text-align: center;
	color: #fff;
	padding: 10px 30px;
	background: #000;
}
