<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/meau.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>

<body>
    <!-- nav -->
<div class="hidden">
    <!-- header.js -->
    <script src="js/header-2.js" charset="utf-8"></script>
    <!--  -->
    <!-- Modal -->
    <script src="js/modal-2.js" charset="utf-8"></script>
    <!-- banner -->
    <div class="banner">
        <div class="container">
            <h1 data-aos="fade-up" data-aos-duration="2500">Baker菜單介紹</h1>
        </div>
    </div>  
    <!-- products-cake -->
    <div class="main">
        <div class="container">
            <div data-aos="fade-up" data-aos-duration="2700" class="title-bg" id="products-cake">
                <div class="title-item">
                    <h3 data-aos="fade-up" data-aos-duration="2500" class="text">Baker 蛋糕</h3>
                    <h5 data-aos="fade-up" data-aos-duration="2700" class="subtitle">Baker蛋糕菜單介紹
                    </h5>
                </div>
            </div>

            <div class="Recommended-products-item">
                <div data-aos="fade-up" data-aos-duration="2500" class="Recommended-products-cake">
                    <div id="cakeOne">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cakeTwo">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recommended-products-puff -->
                <div data-aos="fade-up" data-aos-duration="2700" class="title-bg" style="margin-top: 120px;"
                    id="products-puff">
                    <div class="title-item">
                        <h3 data-aos="fade-up" data-aos-duration="2500" class="text">Baker 泡芙</h3>
                        <h5 data-aos="fade-up" data-aos-duration="2700" class="subtitle">Baker泡芙菜單介紹
                        </h5>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="2500" class="Recommended-products-puff">
                    <div id="puffOne">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="puffTwo">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- brand -->
                <div data-aos="fade-up" data-aos-duration="2700" class="title-bg" style="margin-top: 120px;"
                    id="brand-product">
                    <div class="title-item">
                        <h3 data-aos="fade-up" data-aos-duration="2500" class="text">Baker 麵包</h3>
                        <h5 data-aos="fade-up" data-aos-duration="2700" class="subtitle">Baker泡芙菜單介紹
                        </h5>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="2500" class="Recommended-products-brand">
                    <div id="brandOne">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="brandTwo">
                        <div class="row">
                            <div class="col-sm-4" v-for="(item, index) in itemList" :key="item.id">
                                <div class="box-product">
                                    <div class="image">
                                        <img v-bind:src="item.imgUrl" alt="">
                                    </div>
                                    <h4 class="name">{{item.itemName}}</h4>
                                    <h5 class="price"><span>$</span>{{item.price}}</h5>
                                    <a v-bind:href="item.url">立即購買</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slogan -->
   

    <!-- Recommended products -->
   
    <!-- footer.js -->
    <script src="js/footer.js" charset="utf-8"></script>
  
</div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="vander/rellax.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="vander/vue-main.js"></script>
<script>
    AOS.init();



    var galleryThumbs = new Swiper('.gallery-thumbs', {
        spaceBetween: 10,
        slidesPerView: 4,
        loop: true,
        freeMode: true,
        loopedSlides: 5, //looped slides should be the same
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        spaceBetween: 10,
        loop: true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs,
        },
    });
    // Also can pass in optional settings block
    var rellax = new Rellax('.rellax', {
        speed: -2,
        center: false,
        wrapper: null,
        round: true,
        vertical: true,
        horizontal: false
    });
    // 
    // 登入,忘記密碼,註冊頁面
    function c1() {
    $('#content-1').css('display', 'none');
    $('#content-2').css('display', 'block');
    $('#content-3').css('display', 'none');

    }
    function c3() {
    $('#content-1').css('display', 'block');
    $('#content-2').css('display', 'none');
    $('#content-3').css('display', 'none');
    }
    function c2() {
    $('#content-3').css('display', 'block');
    $('#content-1').css('display', 'none');
    $('#content-2').css('display', 'none');
    }

    

    // 導覽列變化
    $(window).scroll(function () {
        var screenheight = $(this).height(); // 抓取視窗高度
        var scrolledpx = $(this).scrollTop(); // 抓取當前視窗距離最上方的距離(滾動距離)
        // 當滾動超過視窗高度的一半
        if (scrolledpx >= screenheight / 7 - 100) {
            $('.bg-dark').addClass('active');
            $('.nav-item .logo').addClass('active'); // 選取導覽列加上 active
        } else {
            $('.bg-dark').removeClass('active');
            $('.nav-item .logo').removeClass('active'); // 選取導覽列清除 active
        }
    })
</script>

</html>